<!doctype html>
<html lang="en" th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: header">
</head>
<body>
	<nav th:replace="/fragments/header :: navbar"></nav>

	<main class="container">

		<div class="alert alert-info" th:if="${successMessage}"
			th:utext="${successMessage}"></div>

		<div class="row mt-5">
			<form autocomplete="off" action="#" th:action="@{/createuser}"
				th:object="${user}" method="post">
				<div class="mb-3">
					<label for="inputName" class="form-label"> Name:</label> <input
						th:field="*{name}" type="text" class="form-control" id="inputName">
					<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
						class="invalid-feedback"></div>
				</div>
				<div class="mb-3">
					<label for="inputLastname" class="form-label"> Last Name:</label> <input
						th:field="*{lastname}" type="text" class="form-control" id="inputLastName">
						<div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"
						class="invalid-feedback"></div>
				</div>
				<div class="mb-3">
					<label for="inputEmail" class="form-label"> Email:</label> <input
						th:field="*{email}" type="email" class="form-control" id="inputEmail">
						<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
						class="invalid-feedback"></div>
				</div>
				<div class="mb-3">
					<label for="inputUser" class="form-label"> User:</label> <input
						th:field="*{username}" type="text" class="form-control" id="inputUser">
						<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
						class="invalid-feedback"></div>
				</div>
				<div class="mb-3">
					<label for="inputPassword" class="form-label"> Password:</label> <input
						th:field="*{password}" type="password" class="form-control" id="inputPassword">
						<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
						class="invalid-feedback"></div>
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

		</div>



	</main>
	<footer th:replace="/fragments/footer :: footer"> </footer>
</body>
</html>